.sidebar {
    margin-top: 60px;
    background-color: #282c34;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -230px;
    transition: 400ms;
    z-index: 20;
    overflow-y: auto;
}

.sidebar.active {
    left: 0;
    transition: 200ms;
}

.direction {
    color: #FFF;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.chevron{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.chevronRight {
    visibility: hidden;
    padding: 15px;
    border-radius: 50%;
}

.side-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0 8px 16px;
    list-style: none;
    height: 60px;
}

.side-text a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.side-text a:hover {
    background-color: #112162;
}

.side-menu-items {
    width: 100%;
}

.sidebar span {
    margin-left: 16px;
}
.sidebar * {
    color: white !important;
}
nav .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border-color:white;
    width: 90%;
}